extends layout

block content
  h1 Welcome!
  if user
    p= user.name
    div.folders
      each folder in user.folders
        li= folder
    table.emails
      each email in user.emails
        td= email


  else
    p.
      Please setup your details.json file in this directory in order to access the application
