extends layout

block content
  h1 Welcome!
  if user
    p= user.name
    div.folders
      each folder in user.folders
        li= folder
  
    div.emails
      table.table.table-striped
        thead
          tr: th Emails
        tbody
          each email in user.emails
            tr
              td 
                //a(href='/emails/' + email.id) #{email.author} - #{email.title}
                a(href='#') email
  else
    p.
      Please setup your details.json file in this directory in order to access the application
