body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.emails {
	width: 60%;
	float: right;
	display: block;
}

.folder {
	width: 40px;
	float: left;
	display: block;
}