body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.block {
	float: left;
	display: block;
}

.emails {
	width: 60%;
}

.emails table {
	margin-left: 10px;
}

.folders {
	width: 40%;
}

.folders table {
	margin-right: 10px;
}